/* GENERAL */
* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 15px 0;
    cursor: pointer;;
}

.btn > i {
    display: none;
}

.btn.is-loading > i {
    display: inline-block;
}

.btn--primary {
    background-color: rgb(32, 32, 32);
    color: white;
}

.btn--primary:hover {
    background-color: rgba(32, 32, 32, 0.8);
}

.h2 {
    font-size: 22px;
    color: rgb(32, 32, 32);
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 5px;
}

/* FORM */
.form-wrapper {
    width: 100%;
    max-width: 450px;
    margin: 0 1.2rem;
}

.form-header {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field-group {
    position: relative;
}

.field-group input {
    padding: 20px 15px 10px;
    border: 1px solid #20202033;
    border-radius: 5px;
    width: 100%;
    outline:none;
}

.field-group input:focus-visible {
    border: 2px solid rgb(32,32,32);
}

.field-group label {
    font-size: 14px;
    color: rgba(32, 32, 32, 0.5);
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
}

.field-group input:focus-visible + label,
.field-group input:not(:placeholder-shown) + label {
    top: 14px;
    font-size: 12px;
}

.form-field.has-error input {
    border: 2px solid rgb(224, 34, 41);
}

.form-field .output-feedback {
    display: none;
}

.form-field.has-error .output-feedback {
    display: block;
    color: rgb(224, 34, 41);
    font-size: 14px;
    margin: 5px 0 0 0;
}