:root {
    --gray: #2F2F2F;
    --teal: #6BDFDA;
    --blue: #9AD7F3;
    --pink: #FEC3C7;
    --white: #FFFFFF;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--gray);
    overflow: hidden;
}

.h1 {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.text {
    margin: 0;
    color: var(--white);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.btn {
    background-color: var(--white);
    width: fit-content;
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2.25rem;
    font-size: 1.5rem;
    line-height: 1.125rem;
    cursor: pointer;
}

.color-pink {
    color: var(--pink);
}

.color-blue {
    color: var(--blue);
}

.color-teal {
    color: var(--teal);
}

.header {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 3.3125rem;
    padding: 4.1875rem 4rem;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4.25rem;
}

.gallery-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 18px;
    row-gap: 8px;
}

.gallery-item {
    margin: 0;
    overflow: hidden;
    border-radius: 2.5rem;
    cursor: pointer;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.gallery-item img:hover {
    transform: scale(1.5);
}